<div class="present_title">
    <h1>
        ConvolutX presents
    </h1>
</div>

<div class="image-container">
    <img src="assets/Home_Page/App_Logo.webp" alt="App Logo" width="300" height="300"/>
</div>

<div class="spacer">

</div>

<div class="about">
    <h1>
        Designed for farmers and agricultural administrators to streamline the management of agricultural lands.
    </h1>
</div>

<div class="spacer">
    
</div>

<div class="navigation-buttons">
    <button routerLink="/register" class="btn">Create an account</button>
    <button routerLink="/login" class="btn">Connect with an existing account</button>
</div>